cryptography
fastapi
fsspec<=2023.5.0
opentelemetry-api
opentelemetry-instrumentation
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-sdk
pyarrow
pyopenssl>=21.1.0
rich
sentry-sdk
skypilot==0.4.1
sshfs
sshtunnel>=0.3.0
typer
uvicorn
wheel
