cryptography
fastapi
fsspec<=2023.5.0
opentelemetry-api
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-sdk
pexpect
pyarrow
pyopenssl>=23.3.0
rich
sentry-sdk
skypilot[docker]==0.4.1
sshfs
sshtunnel>=0.3.0
typer
uvicorn
wheel
