pytest
pytest-mock
httpx < 0.28.0
pytest_asyncio
datasets
dask
tqdm

# packages for local and unit tests
boto3
google-cloud-storage
docker
pandas
numpy<=1.26.4
openapi-core==0.19.1
plotly

# packages for minimal+ tests
skypilot==0.5.0

# requests must be lowered
requests<2.32.0
