pytest
pytest-mock
httpx
pytest_asyncio
datasets
dask
tqdm

# packages for local and unit tests
boto3
docker
s3fs
pandas
pyarrow
openapi-core==0.19.1

# packages for minimal+ tests
skypilot==0.5.0

# requests must be lowered
requests<2.32.0
