name: Setup Runhouse

description: Reusable steps for setting up Runhouse

runs:
  using: composite
  steps:
    - name: Setup python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Set up required artifacts for local tests
      shell: bash
      run: |
        ssh-keygen -b 2048 -t rsa -f ~/.ssh/sky-key -q -N ""
        echo "password" > $GITHUB_WORKSPACE/../docker_user_passwd

    - name: Install runhouse from source code
      shell: bash
      run: |
        pip install -e $GITHUB_WORKSPACE

    - name: Install python packages & dependencies for unit and local tests
      shell: bash
      run:
        pip install -r tests/requirements.txt
        pip install -r tests/test_requirements/unit_tests_requirements.txt
