chardet==4.0.0
myst-parser==2.0.0
pint==0.20.1
pyarrow==9.0.0
pydata-sphinx-theme==0.13.3
ray>=2.2.0
sagemaker
sentry-sdk==1.28.1
sphinx-book-theme==1.0.1
sphinx-click==4.3.0
sphinx-copybutton==0.5.1
sphinx-thebe==0.2.1
sphinx==6.2.1
sphinx_autodoc_typehints==1.17.0
sphinxcontrib-serializinghtml==1.1.5
