name: Conda Environment Setup and Test

on:
  release:
    types: [ created ]
  workflow_dispatch:


jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}

    - name: Create Conda environment
      run: conda create --yes --name test-env python=${{ matrix.python-version }}

    - name: Install current package in editable mode
      run: |
        source $CONDA/etc/profile.d/conda.sh
        conda activate test-env
        pip install -e .

    - name: Test package import
      run: |
        source $CONDA/etc/profile.d/conda.sh
        conda activate test-env
        python -c "import runhouse"
